<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_FILE" value="sql2rest" />

    <appender name="LOGFILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_FILE}.log</File>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS};[%thread];%-5level;%logger{36}:%line;%msg%n
            </Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_FILE}_%d{yyyyMMdd}.log</FileNamePattern>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{HH:mm:ss.SSS};[%thread];%-5level;%logger{36};%msg%n
            </Pattern>
        </encoder>
    </appender>

    <logger name="com.sql2rest" level="INFO">

    </logger>

    <root level="ERROR">
        <appender-ref ref="LOGFILE" />
    </root>

    <root level="ERROR">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>